# API base URL (apps/api)
NEXT_PUBLIC_API_URL=http://localhost:3401

# WalletConnect Cloud project id (RainbowKit)
NEXT_PUBLIC_RAINBOW_KIT_PROJECT_ID=

# next-auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3400
